/* Style.css */

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    padding-top : 1px;
}

.header_gap{
	padding-left : 20px;
	padding-bottom : 10px;
}

/* Navigation panel */
nav ul {
    list-style-type	: none;
    margin-left 	: 6.3vw;
}

nav ul li {
    display 		: inline;
    margin-right 	: 5vw; /* 7.82 */
    border-right 	: 2px	 solid white;
    padding-right 	: 5vw; 
    font-size 		: 1.5vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

body{
	background-color : #dddddd;
	overflow : auto;
	justify-content : center;
}

img{
	object-fit  : contain;
	border 		: 2px solid black;
	padding  	: 3px;
	float 		: left;
	margin-right : 20px;
}

pre{
	left 		: 300px;
	font-size 	: 20px;
	font-family : courier;
}

.logo{
	position 	: absolute;
	left 		: 25px;
	top 		: 15px;
	width 		: 50px;
	height 		: 50px;
	border 		: 2px solid white;
	padding 	: 3px;
}

.logo a{
	color 			: #fff;
    text-decoration : none;
}

.logo img{
	border 		: 0;
	width 		: 20px;
	height 		: 20px;
}

.logo_pos {
  border: 5px solid;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.subtitle{
	font-size 	: 30px;
	font-family : timesnewroman;
	margin-left : 10px;
	text-decoration : underline;
}

.sofia{
	font-family : Sofia;
	font-size 	: 20px;
	color 		: #000000;
	text-decoration : none;
}

.pr{
	position 	: relative;
	left 		: 0px;
	text-align 	: left;
	font-size 	: 15px;
	font-family : courier;
}

#article{
	margin-left : 4vw;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  float: left;
  width: 33.33%;
  padding: 5px;
}
